WebApplication1/Connected Services/InvoiceSAPReference/invoices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__invoices">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__invoices_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZWS_SPU_PUR_SRV">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>000C29A36E111EEE8CA4A315BD625419</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZfmSpuPur">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema xmlns:tns="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZspuPurStr">
        <xsd:sequence>
          <xsd:element name="Segment" type="n0:char10" />
          <xsd:element name="Region" type="n0:char3" />
          <xsd:element name="Plant" type="n0:char4" />
          <xsd:element name="Fy" type="n0:string" />
          <xsd:element name="Gstin" type="n0:char18" />
          <xsd:element name="Document" type="n0:string" />
          <xsd:element name="DocDate" type="n0:string" />
          <xsd:element name="PostDate" type="n0:string" />
          <xsd:element name="SalesDoc" type="n0:string" />
          <xsd:element name="ShipToParty" type="n0:string" />
          <xsd:element name="ShipToPartyName" type="n0:string" />
          <xsd:element name="Pincode" type="n0:string" />
          <xsd:element name="City" type="n0:string" />
          <xsd:element name="Street2" type="n0:string" />
          <xsd:element name="Street" type="n0:string" />
          <xsd:element name="Street3" type="n0:string" />
          <xsd:element name="Mobileno" type="tns:char16" />
          <xsd:element name="StpartyRegion" type="n0:char3" />
          <xsd:element name="StpartyRegiondesc" type="tns:char20" />
          <xsd:element name="Vendor" type="n0:string" />
          <xsd:element name="VendorName" type="n0:string" />
          <xsd:element name="SpuNo" type="n0:string" />
          <xsd:element name="CrmTicket" type="n0:string" />
          <xsd:element name="MachStat" type="n0:string" />
          <xsd:element name="Cogs" type="n0:string" />
          <xsd:element name="Material" type="n0:string" />
          <xsd:element name="MaterialGrp" type="n0:string" />
          <xsd:element name="MatDes" type="n0:string" />
          <xsd:element name="Hsn" type="n0:string" />
          <xsd:element name="Taxpercent" type="n0:string" />
          <xsd:element name="Quantity" type="n0:string" />
          <xsd:element name="Unit" type="n0:string" />
          <xsd:element name="Spare" type="n0:string" />
          <xsd:element name="_--3455061hFrPurAcnt" type="n0:string" />
          <xsd:element name="_--3455061sFrPurAcnt" type="n0:string" />
          <xsd:element name="_--3455031FrEwExpn" type="n0:string" />
          <xsd:element name="_--3455021FrAmcExpn" type="n0:string" />
          <xsd:element name="_--3455041FrWtyExpn" type="n0:string" />
          <xsd:element name="_--3455011DlrMchCost" type="n0:string" />
          <xsd:element name="Currency" type="n0:string" />
          <xsd:element name="Assignment" type="n0:string" />
          <xsd:element name="TaxCode" type="n0:string" />
          <xsd:element name="CgstPer" type="n0:string" />
          <xsd:element name="CgstRcm" type="n0:string" />
          <xsd:element name="Cgst" type="n0:string" />
          <xsd:element name="IgstPer" type="n0:string" />
          <xsd:element name="Igst" type="n0:string" />
          <xsd:element name="ImportIgst" type="n0:string" />
          <xsd:element name="IgstRcm" type="n0:string" />
          <xsd:element name="SgstPer" type="n0:string" />
          <xsd:element name="Sgst" type="n0:string" />
          <xsd:element name="UgstPer" type="n0:string" />
          <xsd:element name="Ugst" type="n0:string" />
          <xsd:element name="UgstRcm" type="n0:string" />
          <xsd:element name="SgstRcm" type="n0:string" />
          <xsd:element name="Nad" type="n0:string" />
          <xsd:element name="Invoice" type="n0:string" />
          <xsd:element name="ZzproductId" type="n0:char40" />
          <xsd:element name="ZzproductDesc" type="n0:char40" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZspuPurTt">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZspuPurStr" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZfmSpuPur">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CompanyCode" type="n0:char4" />
            <xsd:element minOccurs="0" name="DocumentNumber" type="n0:char10" />
            <xsd:element name="EndDate" type="n0:date10" />
            <xsd:element name="FiscalYear" type="n0:numeric4" />
            <xsd:element minOccurs="0" name="SegmentCode" type="n0:char10" />
            <xsd:element name="StartDate" type="n0:date10" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZfmSpuPurResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EtSpu" type="tns:ZspuPurTt" />
            <xsd:element name="EvMsg" type="n0:char50" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZfmSpuPur">
    <wsdl:part name="parameters" element="tns:ZfmSpuPur" />
  </wsdl:message>
  <wsdl:message name="ZfmSpuPurResponse">
    <wsdl:part name="parameter" element="tns:ZfmSpuPurResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_SPU_PUR_SRV">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZWS_SPU_PUR_SRV" />
    </wsp:Policy>
    <wsdl:operation name="ZfmSpuPur">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__ZfmSpuPur" />
      </wsp:Policy>
      <wsdl:input message="tns:ZfmSpuPur" />
      <wsdl:output message="tns:ZfmSpuPurResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="invoices" type="tns:ZWS_SPU_PUR_SRV">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__invoices" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZfmSpuPur">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_SPU_PUR_SRV:ZfmSpuPurRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="invoices_soap12" type="tns:ZWS_SPU_PUR_SRV">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__invoices_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZfmSpuPur">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_SPU_PUR_SRV:ZfmSpuPurRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="zws_spu_invoices">
    <wsdl:port name="invoices" binding="tns:invoices">
      <soap:address location="https://eccdev:8001/sap/bc/srt/rfc/sap/zws_spu_pur_srv/500/zws_spu_invoices/invoices" />
    </wsdl:port>
    <wsdl:port name="invoices_soap12" binding="tns:invoices_soap12">
      <wsoap12:address location="https://eccdev:8001/sap/bc/srt/rfc/sap/zws_spu_pur_srv/500/zws_spu_invoices/invoices" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>